uib-tabset(ng-if="activeProduct.id")
  uib-tab(index="0")
    uib-tab-heading Banner SKUs
    div(class="list-wrapper")
      list(
        options="activeBanners",
        modify="activeBanner",
        context="true",
        type="BANNER"
      )
      .panel.panel-default.horiz-padded-content
        .panel-body
          edit-form(
            name="bannerForm", 
            consume="BANNER", 
            data="activeBanner",
            options="activeBanners"
          )
            div(class="button-container")
              modify-button(
                flag="modified", 
                function="reset"
                text="Reset"
              )
              modify-button(
                flag="formCtrl.$validated",
                function="saveBannerSku", 
                text="Save"
              )
  uib-tab(index="1")
    uib-tab-heading Sizes
    div(class="list-wrapper")
      list(
        options="activeSizes",
        modify="activeSize",
        context="true",
        type="SIZES"
      )
      .panel.panel-default.horiz-padded-content
        .panel-body
          edit-form(
            name="sizesForm", 
            consume="SIZES", 
            data="activeSize",
            options="activeSizes",
            link="activeData"
          )
            div(class="button-container")
              modify-button(
                flag="modified", 
                function="reset"
                text="Reset"
              )
              modify-button(
                flag="formCtrl.$validated",
                function="saveSize", 
                text="Save"
              )
